@model Data.DataModel.Customer

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h2 style="color:coral"><b>Đăng ký thành viên</b></h2></div>
    <div class="col-md-4"></div>
</div>


   
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           
           <h3 id="res"></h3>
           
            <div class="form-horizontal">

                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="CustomerName" value="" class="form-control CustomerName" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control Email" } })

                        <p id="checkEmail"></p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="col-md-10">
                            <select name="Gender" class="form-control Gender">
                                <option value="true">Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Birthday" value="" placeholder="/tháng/ngày/năm" class="form-control Birthday" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control Phone" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control Address" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control Use" } })

                        <p id="checkUse"></p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="password" name="Password" value="" class="form-control Password" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="fileUp" value="" id="fileInput" onchange="loadFile(event)" class="form-control" />

                    </div>

                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"></div>
                    <div id="show_img" class="col-md-10"></div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="Btn-Save" value="Tạo" class="btn btn-default Btn-Save" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
