@model Data.DataModel.Permisstion

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Permisstion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permisstion_Group.PermistionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permisstion_Group.PermistionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PermisstionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
